body{
    background-color: white;
}

/* header */

.inv_container .head_container {
  width: 99%;
  height: 10vh;
  background: #3e499e;
  border-radius: 25px;
  border: 0.2em solid #3e4a9e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 5px;
}

.head_container .c_pic img {
  width: 100%;
  max-width: 500px;
  height: auto;
  max-height: 500px;
}

.head_container h1 {
  color: #ffffff;
  font-size: 1.8vw;
  padding-left: 10px;
}

.head_container h2 {
  color: #ffffff;
  font-size: 1vw;
  margin-left: auto;
  margin-right: 10px;
}

.head_container .c_pic {
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin-left: 2%;
  position: relative;
}

/*navbar left*/
.navbar-container {
    background: #0A1143;
    backdrop-filter: blur(5px);
    position: fixed;
    border-radius: 23px;
    width: 325px;
    height: 800px;
    position: fixed;
    top: 125px;
    left: 15px;
    overflow-y: auto;
}

.navbar-container .navbar-contents{
    width: 100%;
    margin-top: 80px;
}

.home-left-container .navbar-container .navitem {
    position: relative;
    cursor: pointer;
}

.home-left-container .navbar-container .navitem a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 20px 75px;
    line-height: 45px; 
}

.home-left-container .navbar-container .navitem a:hover{
    background: rgb(0, 19, 159);
    transition: all 0.3s ease;
}

.home-left-container .navbar-container .navitem i{
    margin-right: 15px;
}

.home-left-container .navbar-container .navitem a .dropdown{
    position: absolute;
    right: 10px;
    transition: 0.3s ease;
}

.home-left-container .navbar-container .navitem .usersubmenu{
    background: rgb(255, 152, 152);
}

.home-left-container .navbar-container .navitem .usersubmenu a{
    padding-left: 80px;
}

/* Footer */
.footer i {
    position: relative;
    color: fff;
    margin-left: 20%;
    cursor: pointer;
    transform: translate(-50% -50%);
  }
  
  .footer,
  .footer2 {
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
  }
  /* TOS and Privacy tooltip */
  .tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 80%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .tooltip:hover::after {
    opacity: 1;
    visibility: visible;
  }
  