@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-image: url("imgs/RegisterBG.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.popup12 {
  display: none;
  position: fixed;
  z-index: 5;
  background: linear-gradient(
    to top,
    rgba(29,66,230,1) 11%,
    rgba(21,29,79,1) 100%
  );
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
.popup12-content{
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, "Poppins", sans-serif;
  color:#dddddd;
}
.popupclose {
  color: #170e49;
  float: right;
  cursor: pointer;
}


.inv_container{
    width: 100%;
    height: 15%;
    padding: 1%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(28,36,90,0.5606617647058824) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }
.inv_container .head_container{
  width: 90%;
  height: 10vh;
  background: linear-gradient(90deg, rgba(44,44,118,0.8431232) 0%, rgba(28,28,67,0.3421343413) 100%);
  border-radius: 50px;
  border: 0.2em solid #3e4a9e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  margin-left:3%;
}
.footer i{
  position: relative;
  color: fff;
  margin-left: 20%;
  cursor: pointer;
  transform: translate(-50% -50%);
}
.head_container .c_pic img {
  width: 100%;
  max-width: 400px;
  height: auto;
  max-height: 500px;
}
.head_container h1 {
    color: #ffffff;
    font-size: 1.8vw;

}
.head_container h2 {
    color: #ffffff;
    font-size: 1vw;
    margin-left: auto;
    margin-right: 10px;
}
.head_container .c_pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 2%;
    position: relative;
}
@media (max-width: 768px) {
  .page-container {
    flex-direction: column;
  }

  .right_container,
  .left_container {
    flex: 1; 
    margin: 10px;
    text-align: center;
  }

  .right_container .ccs_pic img,
  .left_container .welcome h1 {
    max-width: 100%; 
    margin-top: 10px; 
  }

  .page-container {
    width: 100%;
    max-width: none;
    height: auto;
    margin: 10px auto;
  }

  .get-started h2 {
    font-size: 5vw; 
  }

  .right_container .ccs_pic img {
    max-width: 80%; 
  }
  .inv_container {
    height: 10%;
  }
  .inv_container .head_container {
    height: 5vh; 
  }
}
.page-container {
  display: flex;
  justify-content: space-between;
}
.right_container {
  flex:0.75;
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .right_container .ccs_pic img {
  width: 100%;
  max-width: 400px;
  height: auto;
  max-height: 500px;
  margin-top: 30%;
}

.left_container {
  flex: 1.25;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.left_container .welcome h1 {
  font-size: 3vw;
  text-align: center;
  font-weight: bold;
  color: white;
}
.get-started{
    width: 100%;
    max-width: 600px;
    height: 15%;
    background-color: rgba(25, 75, 255, 0.76524323);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin: 0;
}
.get-started h2{
    font-size: 2.5vw;
    font-weight: bold;
    color: white;
}
.get-started:hover{
    background-color: rgba(22, 125, 221);
}

.get-started.dark-mode {
  background-color: rgb(10, 29, 102, 0.76524323);
}
.footer ,.footer2{
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
}

.container * {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    border-radius: 0;
    box-shadow: none;
  }
}
.popup_body {
  position: absolute;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 1;
  animation: show1 0.3s;
}

.container h1 {
  font-weight: 700;
  letter-spacing: -1.5px;
  margin: 0;
  margin-bottom: 15px;
}

.container h1.title {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}

.container p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}

.container span {
  font-size: 14px;
  margin-top: 25px;
}

.container a {
  color: #00008B;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  transition: 0.3s ease-in-out;
}

.container a:hover {
  color: #00008B;
}

.container .content {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-around;
}

.container .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .content input {
  accent-color: #00008B;
  width: 12px;
  height: 12px;
}

.container .content label {
  font-size: 14px;
  user-select: none;
  padding-left: 5px;
}

.container button {
  position: relative;
  border-radius: 20px;
  border: 1px solid #00008B;
  background-color: #00008B;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  margin: 10px;
  padding: 12px 80px;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

.container button:hover {
  letter-spacing: 3px;
}

.container button:active {
  transform: scale(0.95);
}

.container button:focus {
  outline: none;
}

.container button.ghost {
  background-color: rgba(225, 225, 225, 0.2);
  border: 2px solid #fff;
  color: #fff;
}

.container button.ghost i{
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container button.ghost i.register{
  right: 70px;
}

.container button.ghost i.login{
  left: 70px;
}

.container button.ghost:hover i.register{
  right: 40px;
  opacity: 1;
}

.container button.ghost:hover i.login{
  left: 40px;
  opacity: 1;
}

.container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.container input {
  background-color: #eee;
  border-radius: 10px;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  position: relative;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 600px;
  z-index: 10;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .login-container {
  transform: translateX(100%);
}

.register-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .register-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
@keyframes show1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translate(-100%);
}

.overlay {
  background-image: url('image/image.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(29,66,230,1) 11%,
    rgba(21,29,79,1) 100%
  );
}



.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  transition: 0.3s ease-in-out;
}

.social-container a:hover {
  border: 1px solid #00008B;
}
.form-container .register-container .login-container{
    position: absolute;
    cursor: pointer;
}
.close, .close1, .close3{
  position: absolute;
  cursor: pointer;
  top: 0%;
  left: 5%;
  transition: 0.5 ease-in-out;
}
.course {
  position:inherit;
  width: 100%;
  height: 30px;
  top: 9%;
  border-radius: 10px;
  color: rgb(126, 126, 126);
  background-color: rgba(225, 225, 225, 0.2);
  z-index: 1;
  font-size: 15px;

}
.checkbox1 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 15px;
  top: 30px;
}


.checkbox1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox1:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox1 input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox1 input:checked ~ .checkmark:after {
  display: block;
}
.error-messages {
  color: red;
}
.checkbox1 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.forgot-pass {
  z-index: 0;
  position: absolute;
  display: flex;
  top: 50%;
}
.fbody {
  position: absolute;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 3;
  animation: show1 0.3s;
}
.fbody form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
.fbody form input {
  background-color: #eee;
  border-radius: 10px;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.fbody form button {
  position: relative;
  border-radius: 20px;
  border: 1px solid #00008B;
  background-color: #00008B;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  margin: 10px;
  padding: 12px 80px;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}
.fbody form button:hover {
  letter-spacing: 3px;
  background-color: #101967;
}
.fbody h1 {
  font-size: 20px;
  line-height: 50px;
  margin: 0;
  text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}
.fbody p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
.fbody a {
  color: #00008B;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  transition: 0.3s ease-in-out;
}
.fbody a:hover {
  color: #101967;
}
.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 80%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}
