@import url("https://fonts.googleapis.com/css2?family=Poppins");
:root {
    /* Get started Button color */
    --secondary-color: rgba(25, 75, 255, 0.76524323);
    /* hover button color */
    --quaternary-color: #101967;
    /* inv container */
    --quinary-color: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(28, 36, 90, 0.5606617647058824) 100%
    );
    /* head container */
    --senary-color: linear-gradient(
        90deg,
        rgba(44, 44, 118, 0.8431232) 0%,
        rgba(28, 28, 67, 0.3421343413) 100%
    );
    --ccsbg: url("../imgs/BG.jpg");
}

@media (prefers-color-scheme: dark) {
    :root {
        --secondary-color: rgba(12, 29, 91, 0.76524323);
        --quaternary-color: #080c35;
        --quinary-color: linear-gradient(
            90deg,
            rgba(11, 11, 28, 0.5) 0%,
            rgba(30, 30, 81, 0.5606617647058824) 100%
        );
        --senary-color: linear-gradient(
            90deg,
            rgba(11, 11, 28, 0.5) 0%,
            rgba(30, 30, 81, 1) 100%
        );
        --ccsbg: url("../imgs/BG_DHVSU_DARKMODE.jpg");

        .get-started.dark-mode {
            background-color: rgb(10, 29, 102, 0.76524323);
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-image: var(--ccsbg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: auto;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: background-image 0.5s ease;
}

/* header containers */
.inv_container {
    width: 100%;
    height: 15%;
    padding: 1%;
    background: rgb(255, 255, 255);
    background: var(--quinary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.inv_container .head_container {
    width: 90%;
    height: 10vh;
    background: var(--senary-color);
    border-radius: 50px;
    border: 0.2em solid #3e4a9e;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    margin-left: 3%;
}

.head_container .c_pic img {
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 500px;
}

.head_container h1 {
    color: #ffffff;
    font-size: 1.8vw;
}

.head_container h2 {
    color: #ffffff;
    font-size: 1vw;
    margin-left: auto;
    margin-right: 10px;
}

.head_container .c_pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 2%;
    position: relative;
}

.page-container {
    display: flex;
    justify-content: space-between;
    animation: none;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/* right Container */
.right_container {
    flex: 1.25;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.right_container .welcome h1 {
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
    color: white;
}

.get-started {
    width: 100%;
    max-width: 600px;
    height: 15%;
    background-color: var(--secondary-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin: 0;
}

.get-started h2 {
    font-size: 2.5vw;
    font-weight: bold;
    color: white;
}

.get-started:hover {
    background-color: rgba(22, 125, 221);
}

/* left Container */
.left_container {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2vh;
}
